$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-dianming: "\e906";
$icon-choujiang: "\e901";
$icon-gonggao: "\e902";
$icon-share: "\e903";
$icon-tongzhi: "\e904";
$icon-toupiao: "\e905";

