.plug_check_model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .plug_check_container {
    background:#fff;
    width: 691px;
    height: 690px;
    border-radius: 14px;
    position: relative;

    div {
      font-family: PingFangSC-Semibold;
    }

    .plug_check_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 106px;
      background: #82ABEC;
      border-radius: 14px 14px 0px 0px;
      min-height: 45px;
      overflow: hidden;
    }

    .plug_check_title_icon {
      width: 46px;
      height: 46px;
      min-width: 46px;
      min-height: 46px;
      margin: 0 10px 0 34px;
      background: url("../img/plug_check_image.png") center center no-repeat;
      background-size: cover;
    }

    .plug_check_title_h {
      flex: 1;
    }

    .plug_check_title_h1 {
      color: #6a6d72;
      font-size: 18px;
      // font-weight: 600;
      height: 28px;
      width: 559px;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
      margin-bottom: 5px;
    }

    .plug_check_title_h2 {
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      padding-right: 26px;
      width: 559px;
      overflow: hidden;
      white-space: nowrap; 
      text-overflow: ellipsis; 
    }

    .plug_check_type_true {
      padding: 14px 0 14px 26px;
      font-size: 15px;
      color: #828282;
    }

    .plug_check_click {
      padding: 0 26px 14px 14px;
      font-size: 14px;
      font-weight: 400;
      color: #828282;
      line-height: 20px;

      a {
        color: #5A8CDC;
        text-decoration: underline;
        margin-left:5px;
      }
    }

    .plug_check_direct {
      padding: 14px 18px 14px 19px;
      font-size: 14px;
      font-weight: 400;
      color:#828282;

    }

    .plug_check_chrome {
      display: block;
      width: 100%;
      height: 119px;
      background: url("../img/plug_check_01@2x.png") no-repeat;
      background-size: 100%;
    }

    .plug_check_chrome_english {
      background: url("../img/plug_check_01_en@2x.png") no-repeat;
      background-size: 100%;
    }

    .plug_check_success {
      height: 49px;
      width: 199px;
      margin-left: 24px;
      background: url("../img/plug_check_02@2x.png") no-repeat;
      background-size: 100%;
    }

    .plug_check_developer {
      height: 54px;
      width: 201px;
      padding: 0 0 14px 0;
      margin-left: 24px;
      background: url("../img/plug_check_developer@2x.png") no-repeat;
      background-size: 100%;
    }

    .plug_check_developer_english {
      background: url("../img/plug_check_developer_en@2x.png") no-repeat;
      background-size: 100%;
    }

    .plug_check_solid {
      margin: 0 26px 10px;
      width: 347px;
      height: 1px;
      border: 2px dashed rgba(237, 237, 237, 1);
    }

    .plug_check_close {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 28px;
      right: 25px;
      background: url("../img/plug_check_close@2x.png") no-repeat;
      background-size: 100%;
    }

    .plug_check_icon {
      display: block;
      margin: 0 26px;
      height: 119px;
    }

    .plug_check_type_false {
      // margin: 0 26px;
      // border-radius: 8px;
    }

    .plug_check_type_false_english {
      //height:160px;
    }

    .plug_check_type_false2 {
      // margin: 14px 26px;
      // height: 150px;
      // background: rgba(251, 251, 251, 1);
      // border-radius: 8px;
    }

    .plug_check_type_false2_english {
      height: 180px;
      margin-top:30px;
    }

    .plug_check_content {
      width: 683px;
      margin: 0 4px 4px 4px;
      height: 580px;
      background: #fff;
      border-radius: 0px 0px 14px 14px;
      overflow-y: scroll;

      /*滚动条*/
      &::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 2px;
        background: #A291D3;
      }
      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.1)
      }
    }

    .plug_check_content_english {
      height: 609px;
    }

    .plug_check_fenge {
      padding-left: 14px;
    }

  }
  .plug_check_container_english {
    height: 720px;
  }
}